﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-2">
                    <img class="margin-top-10" src="../../Content/images/Calendar@2x.png" alt="Calendrier" width="125" height="125" />
                </div>
                <div class="col-md-10">
                    <h1>Bienvenue sur CalendarModex</h1>
                    <p class="lead">CalendarModex offre la possibilité de voir des calendriers à partir d'un fichier CSV.</p>
                    <p><a href="/Home/About" class="btn btn-primary btn-lg">En apprendre plus <i class="fa fa-angle-right"></i></a></p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Vous avez la possibilité de charger un calendrier dès maintenant en sélectionnant un fichier CSV et en cliquant <i>Importer</i>.</p>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("UploadCSV", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-8">
            <div class="form-group" id="fileselect">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="input-group">
                        <div class="form-control uneditable-input" data-trigger="fileinput">
                            <span class="fui-clip fileinput-exists"></span>
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-btn btn-file">
                            <span class="btn btn-default fileinput-new" data-role="select-file">Sélectionner un fichier</span>
                            <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Changer</span>
                            <input type="file" name="file" id="file">
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Enlever</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-wide btn-inverse" id="import-button"><i class="fa fa-download"></i> Importer</button>
        </div>
    }

</div>

<script src="~/Scripts/Views/Home/HomePage.js"></script>