﻿a, button {
    > i.fa {
        margin-right: 10px;
    }
}

#conflicts-container {
    .rounded-corners(5px);
    border: 2px solid #ebece8;
    background-color: #f9f8f3;
    padding: 0 20px;
    margin-bottom: 20px;
    display: none;

    .conflict-table-col {
        min-width: 225px;
    }
}

#person-names.nav-pills {
    margin-bottom: 30px;
}

.jumbotron h1 {
    margin-top: 0;
    font-size: 55px;
}

.margin-top-10 {
    margin-top: 10px;
}