﻿@model IEnumerable<CalendarModex.Models.Conflict>

<h4>Conflits de calendrier</h4>
@if (Model.Count() > 0)
{
    <p>Le présent calendrier n'est pas valide.</p>
    <table class="table table-striped table-hover">
    <tr>
        <th>Événement 1</th>
        <th>Événement 2</th>
        <th>Raison</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="conflict-table-col">@Html.DisplayFor(modelItem => item.FirstConflictingEvent.Description)</td>
            <td class="conflict-table-col">@Html.DisplayFor(modelItem => item.SecondConflictingEvent.Description)</td>
            <td>L'<b>Événement 1</b> est en conflit parce que son heure de fin (@Html.DisplayFor(modelItem => item.FirstConflictingEvent.EndDate.TimeOfDay)) arrive après l'heure de début (@Html.DisplayFor(modelItem => item.SecondConflictingEvent.StartDate.TimeOfDay)) de l'<b>Événement 2</b>.</td>
        </tr>
    }
</table>
    
}
else
{
    <p>Le calendrier est valide.</p>
}
