﻿@model IEnumerable<CalendarModex.Models.Person>

@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <ul class="nav nav-pills" id="person-names">
            @foreach (var item in Model)
            {
                <li data-id="@Html.DisplayFor(modelItem => item.PersonID)"><a href="#">@Html.DisplayFor(modelItem => item.Name)</a></li>
            }
        </ul>
    </div>
    <div class="col-md-2">
        <button id="btnValidate" class="btn btn-embossed btn-primary pull-right"><i class="fa fa-check"></i> Valider Calendrier</button>
    </div>
</div>

<div id="conflicts-container"></div>

<div id="calendar"></div>

<script type='text/javascript' src='~/Scripts/fullcalendar/fullcalendar.min.js'></script>
<script type='text/javascript' src='~/Scripts/fullcalendar/gcal.js'></script>
<script src="~/Scripts/Views/Calendar/CalendarView.js"></script>
