﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CalendarModex</title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/flat-ui.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar/fullcalendar.css" rel="stylesheet" />

</head>
<body>
    <div class="container body-content">
        @Html.Partial("NavBar")

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - sgariepy</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/flatui-fileinput.js"></script>
</body>
</html>
